<form method="POST">
    <label for="name">Name:</label><br>
    <input type="text" name="name"><br>
    <label for="lname">School:</label><br>
    <input type="text" name="lname"><br>
    <input type="submit" value="Submit">
</form> 
