<html>
<head> 
    <title>Students</title>
    <link rel="stylesheet" href="/style.css">  </head>



<body>

<h1><%= student.name %> from <%= student.school %></h1>


<main>
Hey <%= student.name%> this is your page, you can't do anything here but it's yours ! Enjoy.
</main>


</body>

<script type="text/javascript" src="/students.js"></script>
</html>